<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project-one</display-name>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>com.revature.servlets.TestServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>auth</servlet-name>
    <servlet-class>com.revature.servlets.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>tix</servlet-name>
    <servlet-class>com.revature.servlets.TixServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tix</servlet-name>
    <url-pattern>/tix</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>create</display-name>
    <servlet-name>create</servlet-name>
    <servlet-class>com.revature.servlets.CreateTixServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TixStatusServlet</display-name>
    <servlet-name>TixStatusServlet</servlet-name>
    <servlet-class>com.revature.servlets.TixStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TixStatusServlet</servlet-name>
    <url-pattern>/TixStatusServlet</url-pattern>
  </servlet-mapping>
</web-app>