<html>

<head>
    <title>Login</title>
</head>

<body>
    <div style="text-align: center;">
    <h1 style="text-align: center; padding: 1em">Revature Reimbursement Application</h1>
    <a href="index.html"><p style="text-align: center">Go Back</p></a>
    <p style="visibility: hidden" id="incorrect">Incorrect Credentials have been entered</p>
    <p style="text-align: center">Username: </p>

        <input type="text" name="username" id="username">

    
    

    <p style="text-align: center;">Password: </p>
    <input type="password" name="password" id="password">
    <p></p>
    <button value="Submit" id="submitButton">Log In</button>
</div>
</body>



<script src="../scripts/login.js"></script>

</html>