<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title id="title">Log In</title>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html">
        <img src="../resources/logo.jpg">

      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

</header>

<body background="../resources/home-background.jpg" style="background-size:cover;">

  <section class="vh-100">

    <div class="container py-5 h-100">

      <div class="row d-flex align-items-center justify-content-center h-100"
        style="background-color: rgba(255, 255, 255, 0.66);">

        <h3 style="background-color: #0169D9; color: rgb(255, 255, 255); padding: .5em;">Login</h3>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form >
            <p id="invalid" style="color: red; visibility: hidden;" >Username or Password may been entered incorrectly</p>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="username" class="form-control form-control-lg" />
              <label class="form-label" for="username">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="password" class="form-control form-control-lg" autocomplete="on" />
              <label class="form-label" for="username">Password</label>
            </div>



            <!-- Submit button -->
            <button type="button" class="btn btn-primary btn-lg btn-block" id="submitButton">Sign in</button>

          </form>
        </div>
      </div>
    </div>
  </section>

</body>



<script src="../scripts/login.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>